body {
    background-color: lightgoldenrodyellow;
    margin: 1vw 3vw;                                /* Relative Unit */
    padding: 1% 1% 1% 1%;
}

/* Class Selector, Selector List, Descendant Combinator, Combining Two Selectors */

.greeting, header h1, pre.footer {
    color: orangered;
    line-height: 2em;                               /* Relative Unit */
}

hr {
    width: 150ch;                                   /* Relative Unit */
}

.userforms {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;

    padding-top: 0.5%;
    padding-right: 0.3%;
    padding-bottom: 1%;
    padding-left: 0.5%;
}

/* ID Selector (#id) */

/* Color Canvas background */
#myCanvas {
    border-style: double;
    border-color: rgb(124, 90, 90);
    border-width: 3mm;                              /* Absolute Unit */
    border-radius: 15px 50pt;                       /* Absolute Units x2 */

    background-color: rgb(202, 202, 202);

    height: 20vw;
}

/* Universal Selector (*) */
* {
    color: rgba(0, 0, 70, 1.0);
}

h3.aboutMe, h3 ~ div {
    background-color: #2EF;
}

/* Element Selector (element) */

/* Attribute Selector, Adjacent sibling combinator */
[name="passtimes"], [type="text"], br+label {
    color: #7851A9;
}

/* Pseudo-class Selectors (e.g. p::hover) */

a:link {
    color: hsla(195, 91%, 48%);
}

a:visited {
    color: hsla(195, 91%, 25%, 0.85);
}